@charset "utf-8";
/* CSS Document */
.header{
	height:100vh;
	background-image:url(../images/image02.jpg);
	background-attachment:fixed;
	background-size:cover;
	background-position:center center;
	}
.cover{
	z-index:3;
	position:absolute;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,.4);
	}
.about{
	background-color:rgba(0,0,0,0.9);
	height:400px;
	width:100%;
	transform-style:preserve-3d;
	transform:perspective(800px);
	}
.edu{
	background-color:rgba(255,255,255,0.9);
	height:auto;
	width:100%;
	}
.exp{
	background-color:rgba(0,0,0,0.9);
	height:400px;
	width:100%;
	}
.skills{
	background-color:rgba(255,255,255,0.9);
	height:700px;
	width:100%;
	}
.contact{
	}
/* sub */
h1{
	font-style:italic;
	}
.about h1{
	border-bottom:#FFF solid 1px;
	padding-bottom:10px;
	}
.mytext h1{
	padding-bottom:10px;
	}
.mytext h1,.mytext p,.mytext h2{
	transition:all 0.8s ease-in-out;
	}
.hidden h1{
	opacity:0;
	transform:translate3d(0,0,300PX) rotateY(-40deg);
	}
.hidden p{
	opacity:0;
	transform:translate3d(0,0,300PX) rotateY(40deg);
	}
.hidden h2{
	opacity:0;
	transform:translate3d(0,0,300PX) rotateY(-40deg);
	}
/* sub */
.edu h1{
	margin-bottom:25px;
	}
.mytext h2{
	border-bottom:#000 solid 1px;
	padding-bottom:10px;
	}
.exp h2{
	border-bottom:#FFF solid 1px;
	}
.nav-item:hover{
	cursor:pointer;
	}
.myimg{
	transition:all 0.8s ease-in-out;
	}
.hidden .myimg{
	opacity:0;
	transform:translateX(100%);
	}